<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="customerApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="customerApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="customerApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="customerApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Customer App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/customer.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="CustomerCtrl">

<div class="col-md-4">
  <button ng-click="showForm(false)">+</button>
  <ul class="customers">
    <li ng-repeat="customer in customers | filter:query | orderBy:orderProp">
      <p ng-click="showInfo(customer)">{{customer.first}} {{customer.last}}</p>
    </li>
  </ul>
</div>

<div class="col-md-6" hidden id="customerInformation">
  <p>{{selectedCustomer.first}}</p>
  <p>{{selectedCustomer.last}}</p>
  <p>{{selectedCustomer.email}}</p>
  <p>{{selectedCustomer.company_name}}</p>
  <p>{{selectedCustomer.department_name}}</p>
  <p>{{selectedCustomer.work_phone}}</p>
  <p>{{selectedCustomer.mobile_phone}}</p>
  <button ng-click="showForm(true)">Edit</button>
  <button ng-click="deleteCustomer($index)">Delete</button>
</div>


<div class="col-md-6" hidden id="editForm">
  <form class="infoForm">
    <p>First Name:<input type="text" ng-model="user.first" ng-initial></input></p>
    <p>Last Name:<input type="text" ng-model="user.last"></input></p>
    <p>Email:<input type="text" ng-model="user.email"></input></p>
    <p>Company:<input type="text" ng-model="user.company_name"></input></p>
    <p>Department:<input type="text" ng-model="user.department_name"></input></p>
    <p>Work Phone:<input type="text" ng-model="user.work_phone"></input></p>
    <p>Mobile Phone:<input type="text" ng-model="user.mobile_phone"></input></p>
    <fieldset>
      <legend>Shipping Address</legend>
      <p>Address:<input type="text" ng-model="user.shipment_address"></input></p>
      <p>City:<input type="text" ng-model="user.shipment_city"></input></p>
      <p>State:<input type="text" ng-model="user.shipment_state"></input></p>
      <p>Zip Code:<input type="text" ng-model="user.shipment_zip"></input></p>
      <p>Country:<input type="text" ng-model="user.shipment_country"></input></p>
    </fieldset>
    <fieldset>
      <legend>Mailing Address</legend>
      <p>Address:<input type="text" ng-model="user.mail_address"></input></p>
      <p>City:<input type="text" ng-model="user.mail_city"></input></p>
      <p>State:<input type="text" ng-model="user.mail_state"></input></p>
      <p>Zip Code:<input type="text" ng-model="user.mail_zip"></input></p>
      <p>Country:<input type="text" ng-model="user.mail_country"></input></p>
    </fieldset>
    <p>
      <input type="submit" ng-click="update(user)" value="Save" />
      <input type="button" value="Cancel" id="cancel_Edit"></input>
    </p>
  </form>
</div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="jquery-1.11.2.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/customer.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
